name: Build and Release Apps

permissions:
    contents: write

on:
  push:
    branches:
      - release

jobs:
  build:
    name: Build Apps
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v1
      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - name: Install pub Dependencies
        run: flutter pub get

      - name: Build Android App
        run: flutter build apk --verbose --release

      - run: cp build/app/outputs/flutter-apk/app-release.apk battery-alarm.apk
  
      - uses: ncipollo/release-action@v2
        with:
         artifacts: "build/app/outputs/flutter-apk/*.apk"
         token: $
        # uses: softprops/action-gh-release@v1

        # with:
        #   draft: true
        #   prerelease: false
        #   body: ""
        #   files: |
        #     battery-alarm.apk
        #   token: ${{ secrets.GITHUB_TOKEN }}