name: Build and Release Apps

permissions:
    contents: write

on:
  push:
    branches:
      - release

jobs:
  build:
    name: Build Apps
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v1
      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - name: Install pub Dependencies
        run: flutter pub get

      - name: Build Android App
        run: flutter build apk --split-per-abi --verbose

      - run: cp build/app/outputs/flutter-apk/app-arm64-v8a-release.apk battery-alarm-arm64-v8a-release.apk
      - run: cp build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk battery-alarm-armeabi-v7a-release.apk
      - run: cp build/app/outputs/flutter-apk/app-x86_64-release.apk battery-alarm-x86_64-release.apk
  
      - name: Release
        uses: softprops/action-gh-release@v1

        with:
          draft: true
          prerelease: false
          body: ""
          tag_name: "Battery Alarm"
          files: |
            battery-alarm-arm64-v8a-release.apk
            battery-alarm-armeabi-v7a-release.apk
            battery-alarm-x86_64-release.apk
          token: ${{ secrets.GITHUB_TOKEN }}